$app-spacer-base-size = 16px
$app-spacer-size-list = ()

for $i in (0..12) {
  push($app-spacer-size-list, ($app-spacer-base-size * ($i * 0.25)))
}

$i = 0
for $app-spacer-size in $app-spacer-size-list {
  .app-mt-{$i} {
    margin-top: $app-spacer-size !important;
  }
  .app-mr-{$i} {
    margin-right: $app-spacer-size !important;
  }
  .app-mb-{$i} {
    margin-bottom: $app-spacer-size !important;
  }
  .app-ml-{$i} {
    margin-left: $app-spacer-size !important
  }
  .app-mx-{$i} {
    margin-left: $app-spacer-size !important;
    margin-right: $app-spacer-size !important;
  }
  .app-my-{$i} {
    margin-top: $app-spacer-size !important;
    margin-bottom: $app-spacer-size !important;
  }
  .app-ma-{$i} {
    margin: $app-spacer-size $app-spacer-size !important;
  }

  .app-pt-{$i} {
    padding-top: $app-spacer-size !important;
  }
  .app-pr-{$i} {
    padding-right: $app-spacer-size !important;
  }
  .app-pb-{$i} {
    padding-bottom: $app-spacer-size !important;
  }
  .app-pl-{$i} {
    padding-left: $app-spacer-size !important;
  }
  .app-px-{$i} {
    padding-left: $app-spacer-size !important;
    padding-right: $app-spacer-size !important;
  }
  .app-py-{$i} {
    padding-top: $app-spacer-size !important;
    padding-bottom: $app-spacer-size !important;
  }
  .app-pa-{$i} {
    padding: $app-spacer-size $app-spacer-size !important;
  }

  $i = $i + 1
}

.app-mx-auto {
  margin-left: auto !important;
  margin-right: auto !important;
}

$app-spacer-0 = $app-spacer-size-list[0];
$app-spacer-1 = $app-spacer-size-list[1];
$app-spacer-2 = $app-spacer-size-list[2];
$app-spacer-3 = $app-spacer-size-list[3];
$app-spacer-4 = $app-spacer-size-list[4];
$app-spacer-5 = $app-spacer-size-list[5];
$app-spacer-6 = $app-spacer-size-list[6];
$app-spacer-7 = $app-spacer-size-list[7];
$app-spacer-8 = $app-spacer-size-list[8];
$app-spacer-9 = $app-spacer-size-list[9];
$app-spacer-10 = $app-spacer-size-list[10];
$app-spacer-11 = $app-spacer-size-list[11];
$app-spacer-12 = $app-spacer-size-list[12];
