@import './_colors.styl';
@import './_flex-layout.styl';
@import './_shadows.styl';
@import './_spacing.styl';
@import './_typography.styl';

/**
 * Application theme
 */

$app-primary-text-color = $app-grey-900;
$app-secondary-text-color = $app-grey-600;
$app-disabled-text-color = $app-grey-400;
$app-accent-text-color = $app-pink-a200;
$app-error-text-color = $app-red-a700;
$app-link-color = $app-blue-800;
$app-link-visited-color = $app-indigo-300;
$app-default-border-color = $app-grey-300;


/**
 * Grid
 */

$app-grid-breakpoints-xs = 0;
$app-grid-breakpoints-sm = 600px;
$app-grid-breakpoints-md = 960px;
$app-grid-breakpoints-lg = calc(1280px - 16px); /* Desktop gets a 16dp reduction */
$app-grid-breakpoints-xl = calc(1920px - 16px); /* https://material.io/guidelines/layout/responsive-ui.html#responsive-ui-breakpoints */
