@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons');
@import './_colors.styl';
@import './_flex-layout.styl';
@import './_shadows.styl';
@import './_spacing.styl';
@import './_typography.styl';
@import './_variables.styl';

/*-------------------------------------------------
  Variables
-------------------------------------------------*/

:root {

  /**
   * Components
   */

  /* greet-message */
  --greet-message-color: $app-red-500;

}

/*-------------------------------------------------
  Default style
-------------------------------------------------*/

html, body {
  height 100%;
}

body {
  margin: 0;
  font-family: 'Roboto', 'Noto', sans-serif;
  background-color: #ffffff;
  color: $app-primary-text-color;
}
